<h1>Hotel info:</h1>
<p>Id: {{ hotel.id }}</p>
<p>Name: {{ hotel.name }}</p>
<p>Website: <a href="{{ hotel.website }}">{{ hotel.website }}</a></p>
<p>Admin telegram id: {{ hotel.admin_telegram_id }}</p>
<p><a href="/admin">Admin panel</a></p>
